body {
  padding: 32px;
  margin: 32px;
  font-family: "Garamond", Arial, sans-serif;
  font-size: 25px;
  background-color: #0a5689;
  font-weight: lighter;
  color: white;
}
button {
  background-color: #2ecc71;
  border: none;
  padding: 4px 8px;
  box-shadow: 1px 1px 1px #95a5a6;
  cursor: pointer;
  color: white;
  font-family: "Garamond", Arial, sans-serif;
  font-size: 17px;
}


